.vscode/
.idea/

.DS_Store
__pycache__/
*.pyc
*.pyo

*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*

checkpoints/
demo/backend/checkpoints/

*.pt
*.pth

segment_cdw/data/
segment_cdw/data/results/

demo/data/
demo/frontend/src/assets/videos/
notebooks/videos/
sav_dataset/example/